
@{
    ViewBag.Title = "Thống kê youtube";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>
<div class="card-deck" id="youCon">
</div>
<script>
    $("#homeLink").attr("class", "nav-item")
    $("#youtubeLink").attr("class", "nav-item active")
</script>
<script src="~/Scripts/custom-youtube.js"></script>


