@{
    ViewBag.Title = "Dashboard";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <div id="weather-con" class="card shadow mb-4 col-md-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Dự báo thời tiết</h6>
        </div>
        <div class="card-body"></div>
    </div>
    <div id="incoming-events" class="card shadow mb-4 col-md-8">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Sự kiện trong 3 ngày sắp tới</h6>
        </div>
        <div class="card-body"></div>
    </div>
</div>
<div class="row">
    <div class="card shadow mb-4 col-md-6">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tình hình dịch Corona thế giới</h6>
        </div>
        <div class="card-body table-responsive">@Html.Raw(ViewBag.WorldCoronaTable)</div>
    </div>
    <div class="card shadow mb-4 col-md-6">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tình hình dịch Corona Việt Nam</h6>
        </div>
        <div class="card-body table-responsive">@Html.Raw(ViewBag.VietNamCoronaTable)</div>
    </div>
</div>
<script>
    $("#homeLink").attr("class", "nav-item active")
    $("#youtubeLink").attr("class", "nav-item")
</script>
<script src="~/Scripts/custom-index.js"></script>
