@{
    ViewBag.Title = "Xác nhận khôi phục mật khẩu";
}

<hgroup class="title">
    <h1 class="h4">@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Mật khẩu của bạn đã được khôi phục. Vui lòng @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
